$primary-color: black;
$bg-body: linear-gradient(to right, #FFFFFF, #ECE9E6);

html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  color: $primary-color;
  background: $bg-body;
  padding: 0px;
  margin: 0px;
}

#app {
  width: 100%;
  height: 100%;
}

button:focus {
  outline:0;
}
input:focus {
  outline:0;
}